<div class="auth container-fluid p-0">
  <input type="checkbox" id="check" class="hidden-toggle-btn" />
  <!-- mobile nav -->
  <div class="header-mobile">
    <label for="check">
      <img
        class="mobile-toggle-btn-show"
        src="./assets/images/icon-mobile-toggle.png"
        alt="logo GreenCV"
      />
    </label>
    <label for="check">
      <img
        class="mobile-toggle-btn-hide"
        src="./assets/images/icon-x.png"
        alt="logo GreenCV"
      />
    </label>
    <img
      class="mobile-lang-btn"
      src="./assets/images/icon-flag.png"
      alt="flag"
    />
    <div class="mobile-nav">
      <div class="mobile-nav-upload-btn">
        <img src="./assets/images/icon-plus.png" alt="logo GreenCV" />
        <button></button>
        <span>Đăng tin</span>
      </div>
      <div class="mobile-nav-noti-btn">
        <b class="notification-icon"></b>
        <img src="./assets/images/icon-noti-white.png" alt="Đăng Tin" />
      </div>
    </div>
    <div class="mobile-pepsi-btn">
      <img src="./assets/images/icon-pepsi.png" alt="Đăng Tin" />
      <div class="gmail">
        <h4>Pepsi Vietnam</h4>
        <p>pepsivietnam@gmail.com</p>
      </div>
    </div>
  </div>
  <!-- end mobile nav -->
  <!-- sidebar  -->
  <div class="auth__sidebar">
    <div class="auth__sidebar__header">
      <div class="auth__sidebar__header__logo">
        <h4>Green</h4>
        <img class="logo" src="./assets/images/logo.png" alt="logo GreenCV" />
      </div>
      <label for="check">
        <img
          class="auth__sidebar__header__toggle toggle-btn-hide"
          src="./assets/images/toggle-menu1.png"
          alt="logo GreenCV"
        />
      </label>
      <label for="check">
        <img
          class="auth__sidebar__header__toggle toggle-btn-show"
          src="./assets/images/toggle-menu2.png"
          alt="logo GreenCV"
        />
      </label>
    </div>
    <div class="nav flex-column nav-pills">
      <a
        class="nav-link active"
        id="v-pills-1-tab"
        data-toggle="pill"
        href="#v-pills-1"
        role="tab"
        aria-controls="v-pills-1"
        aria-selected="false"
      >
        <b></b>
        <b></b>
        <i class="fa fa-user modify"></i><span>Thống Kê</span>
      </a>
      <a
        class="nav-link"
        id="v-pills-2-tab"
        data-toggle="pill"
        href="#v-pills-2"
        role="tab"
        aria-controls="v-pills-2"
        aria-selected="false"
      >
        <b></b>
        <b></b>
        <i class="fa fa-book"></i><span>Tin Tuyển Dụng</span>
      </a>
      <a
        class="nav-link"
        id="v-pills-3-tab"
        data-toggle="pill"
        href="#v-pills-3"
        role="tab"
        aria-controls="v-pills-3"
        aria-selected="false"
      >
        <b></b>
        <b></b>
        <i class="fa fa-cog"></i><span>Quản lý ứng viên</span>
      </a>
      <a
        class="nav-link"
        id="v-pills-4-tab"
        data-toggle="pill"
        href="#v-pills-4"
        role="tab"
        aria-controls="v-pills-4"
        aria-selected="false"
      >
        <b></b>
        <b></b>
        <i class="fa fa-cog"></i><span>Tìm Kiếm ứng viên</span>
      </a>
      <div class="group">
        <span class="group-show">CÀI ĐẶT TÀI KHOẢN</span>
        <span class="group-hide">CÀI ĐẶT</span>
      </div>
      <a
        class="nav-link"
        id="v-pills-5-tab"
        data-toggle="pill"
        href="#v-pills-5"
        role="tab"
        aria-controls="v-pills-5"
        aria-selected="false"
      >
        <b></b>
        <b></b>
        <i class="fa fa-cog"></i><span>Thông tin cá nhân</span>
      </a>
      <a
        class="nav-link"
        id="v-pills-6-tab"
        data-toggle="pill"
        href="#v-pills-6"
        role="tab"
        aria-controls="v-pills-6"
        aria-selected="false"
      >
        <b></b>
        <b></b>
        <i class="fa fa-cog"></i><span>Thông tin công ty</span>
      </a>
    </div>
    <div class="upload">
      <img
        class="upload-icon"
        src="./assets/images/upload.png"
        alt="Đăng Tin"
      />
      <div class="plus-icon">
        <img src="./assets/images/plus-icon.png" alt="+" />
      </div>
      <div class="upload-btn">
        <button>Đăng tin</button>
      </div>
    </div>
    <div class="mobile-upload-btn">
      <img src="./assets/images/icon-exit.png" alt="logo GreenCV" />
      <button></button>
      <span>Thoát</span>
    </div>
  </div>
  <!-- end sidebar  -->
</div>
