// VARIABLES

$bgBlue:#0E51D0;
$bgPurple: #8e44ad;
$bgPink : #ea5252;
$bgGray: #F5F7F9;
$bgRed: #e34242;

// COLOR
$white: #fff;
$black: #000;
$blue: #0E4ECA;

// zIndex
$zNormal: 1;
$zCustom: 2;
$zFixed: 99;
// fontsize
$headSize1: 20px;
$headSize2: 18px;
$headSize3: 16px;
$headSize4: 12px;
$paraSize1: 14px;
$paraSize2: 12px;
$paraSize3: 8px;
$iconSize: 24px;
// fontweight
$bold : 800;
$normal: 600;
$light: 400;
