<div class="right">
    <div class="right__top-content">
        <div class="left-content">
            <b class="notification-icon"></b>
            <img
                src="./assets/images/icon-notification.png"
                alt="Đăng Tin"
            />
            <img
                src="./assets/images/icon-flag.png"
                alt="Đăng Tin"
            />
        </div>
        <div class="right-content">
            <span>Pepsi Vietnam</span>
            <img
            src="./assets/images/icon-pepsi.png"
            alt="Đăng Tin"
            />
        </div>
    </div>
</div>